<app-dialog-header titleText="{{ 'DialogTitles.Languages' | translate }}"></app-dialog-header>
<mat-dialog-content>{{ 'DialogTexts.SelectSpellCheckLanguages' | translate }}</mat-dialog-content>
<mat-dialog-actions
    ><div class="d-flex flex-column">
        <mat-checkbox
            *ngFor="let spellCheckLanguage of this.spellCheckLanguages"
            (change)="toggleSpellCheckLanguage(spellCheckLanguage)"
            [(ngModel)]="spellCheckLanguage.isEnabled"
            >{{ spellCheckLanguage.name }}</mat-checkbox
        >
    </div></mat-dialog-actions
>
