<dialog-header titleText="{{ 'DialogTitles.Import' | translate }}"></dialog-header>
<mat-dialog-content>
    <p *ngIf="!isDirectoryChosen"> {{ 'DialogTexts.SelectDirectoryContainingOldVersionExports' | translate }}</p>
    <p *ngIf="isDirectoryChosen"> {{ 'DialogTexts.YouHaveSelectedDirectory' | translate }}{{ selectedDirectory }}</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)=startImport()
        *ngIf="isDirectoryChosen">{{ 'Buttons.StartImport' | translate }}</button>
    <button mat-raised-button color="primary" (click)=selectDirectory()
        *ngIf="!isDirectoryChosen">{{ 'Buttons.Select' | translate }}</button>
    <button mat-raised-button (click)=selectDirectory()
        *ngIf="isDirectoryChosen">{{ 'Buttons.SelectAgain' | translate }}</button>
    <button mat-raised-button [mat-dialog-close]>{{ 'Buttons.Cancel' | translate }}</button>
</mat-dialog-actions>