<dialog-header titleText="{{ 'DialogTitles.Import' | translate }}"></dialog-header>
<mat-dialog-content>
    <div class="importDialogContent" *ngIf="!isImportFinished">
        <div class="nonBusyContent" *ngIf="!isBusy">
            <p *ngIf="!isDirectoryChosen"> {{ 'DialogTexts.SelectDirectoryContainingOldVersionExports' | translate }}
            </p>
            <p *ngIf="isDirectoryChosen">
                {{ 'DialogTexts.YouHaveSelectedDirectory' | translate }} {{ selectedDirectory }}
            </p>
        </div>
        <div class="busyContent" *ngIf="isBusy">
            <mat-spinner class="mr-1" [diameter]="20"></mat-spinner>
            <div>{{ 'DialogTexts.Importing' | translate }}</div>
        </div>
    </div>
    <div class="importDialogContent" *ngIf="isImportFinished">
        <div *ngIf="isImportSuccessful">
            {{ 'DialogTexts.ImportSuccessful' | translate }}
        </div>
        <div *ngIf="!isImportSuccessful">
            {{ 'DialogTexts.ImportFailed' | translate }}
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)=startImport()
        *ngIf="isDirectoryChosen && !isBusy && !isImportFinished">{{ 'Buttons.StartImport' | translate }}</button>
    <button mat-raised-button color="primary" (click)=selectDirectory()
        *ngIf="!isDirectoryChosen && !isBusy && !isImportFinished">{{ 'Buttons.Select' | translate }}</button>
    <button mat-raised-button (click)=selectDirectory()
        *ngIf="isDirectoryChosen && !isBusy && !isImportFinished">{{ 'Buttons.SelectAgain' | translate }}</button>
    <button *ngIf="!isImportFinished" mat-raised-button [mat-dialog-close]>{{ 'Buttons.Cancel' | translate }}</button>
    <button *ngIf="isImportFinished" color="primary" mat-raised-button
        [mat-dialog-close]>{{ 'Buttons.Close' | translate }}</button>
    <button *ngIf="isImportFinished && !isImportSuccessful" mat-raised-button [mat-dialog-close]
        (click)=viewLog()>{{ 'Buttons.ViewLog' | translate }}</button>
</mat-dialog-actions>