// Created with: http://mcg.mbitson.com/
$default-palette: (
  50: #e4effa,
  100: #bbd8f2,
  200: #8ebeea,
  300: #61a4e1,
  400: #3f91da,
  500: #1d7dd4,
  600: #1a75cf,
  700: #156ac9,
  800: #1160c3,
  900: #0a4db9,
  A100: #e5edff,
  A200: #b2ccff,
  A400: #7faaff,
  A700: #6599ff,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white
  )
);

$default-theme-primary: mat-palette($default-palette);
$default-theme-accent: mat-palette($default-palette);
$default-theme-warn: mat-palette($default-palette);
$default-theme: mat-light-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);