@import "font-faces";

.color-theme-switcher {
  display: flex;
  flex-wrap: wrap;
}

.color-theme-switcher-button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.color-theme-switcher-button-selector {
  font-family: la-solid;
  font-size: 26px;
  color: white;
  z-index: 1;
}

.color-theme-switcher-button-color {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  z-index: 0;
}
