<div class="color-theme-switcher">
    <div *ngFor="let colorTheme of appearance.colorThemes">
        <div class="color-theme-switcher-button mr-1 mb-1" matTooltip="{{ colorTheme.displayName }}">
            <div class="color-theme-switcher-button-selector"
                *ngIf="colorTheme.name === appearance.selectedColorTheme.name">
                <i class="custom-font las la-check"></i>
            </div>
            <div class="color-theme-switcher-button-color" [ngStyle]="{'background-color': colorTheme.color}"
                (click)="setColorTheme(colorTheme)">
            </div>
        </div>
    </div>
</div>