<div class="welcomeContainer">
    <div class="welcomeContentContainer">
        <div class="welcomeContentContainerForeground">
            <logo-full [textColor]="'white'"></logo-full>
            <div class="welcomeTitle mt-4">{{ 'WelcomePage.Title' | translate }}</div>
            <div class="welcomeText mt-4">{{ 'WelcomePage.Text' | translate }}</div>
            <button class="mt-4" mat-raised-button color="primary" (click)="openDirectoryChooser()">
                {{ 'WelcomePage.SelectButton' | translate }}
            </button>
        </div>
        <div class="welcomeContentContainerBackground">
            <img class="welcomePenImage" src="./assets/images/pencil_256x256.svg">
        </div>
    </div>
</div>