@import 'css/variables.scss';

.mainMenuButton {
    display: flex;
}

.mainMenuIcon {
    font-family: Material;
    font-size: 22px;
    color: $color-grey-icon;
    margin: 0 8px 0 0;
}

.mainMenuIcon.isActive{
    color: $color-primary;
}

.mainMenuCommandIcon{
    font-family: Material;
    font-size: 22px;
    color: $color-grey-icon;
    opacity: 0.3;
}

.mainMenuItemContainer{
    display: flex;
    width: 100%;
    margin-right: 80px;
}

.mainMenuCommandIconContainer{
    position: absolute;
    right: 8px;
}

.mainMenuCommandIcon:hover{
    opacity: 1.0;
}