<div *ngIf="canShow && router.url != '/note'" class="button" mat-icon-button [matMenuTriggerFor]="menu">
    &#xE700;
</div>
<mat-menu #menu="matMenu">
    <button class="mainMenuButton" mat-menu-item [matMenuTriggerFor]="subMenu">
        <span class="mainMenuIcon">&#xE6DD;</span>
        {{ 'MainMenu.Collections' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button class="mainMenuButton" routerLink="/settings" mat-menu-item>
        <span class="mainMenuIcon">&#xE8B8;</span>
        {{ 'MainMenu.Settings' | translate }}
    </button>
    <button class="mainMenuButton" routerLink="/information" mat-menu-item>
        <span class="mainMenuIcon">&#xE88E;</span>
        {{ 'MainMenu.Information' | translate }}
    </button>
</mat-menu>
<mat-menu #subMenu="matMenu">
    <button class="mainMenuButton" mat-menu-item (click)="addCollectionAsync()">
        <span class="mainMenuIcon">&#xE145;</span>
        {{ 'MainMenu.AddCollection' | translate }}
    </button>
    <mat-divider></mat-divider>

    <div *ngFor="let collection of collections">
        <button class="mainMenuButton" mat-menu-item>
            <span class="mainMenuItemContainer" (click)="activateCollection(collection.id)" matTooltip="{{ 'Tooltips.Activate' | translate }}">
                <span class="mainMenuIcon" [ngClass]="{'isActive' : collection.isActive == 1}">&#xE02F;</span>
                <span class="mainMenuItemText">{{ collection.name }}</span>
            </span>
            <span class="mainMenuCommandIconContainer mr-1">
                <span class="mainMenuCommandIcon mr-1" matTooltip="{{ 'Tooltips.Rename' | translate }}" (click)="renameCollection(collection.id)">&#xE254;</span>
                <span class="mainMenuCommandIcon" matTooltip="{{ 'Tooltips.Delete' | translate }}" (click)="deleteCollectionAsync(collection.id)">&#xE872;</span>
            </span>
        </button>
    </div>
</mat-menu>