@import "css/font-faces.scss";
@import "css/variables.scss";

.mainMenuButton {
  font-size: 16px !important;
}

.menuButton {
  display: flex;
}

.menuIcon {
  font-family: Material;
  font-size: 22px;
  color: $color-grey-icon;
  margin: 0 8px 0 0;
}

.menuIcon.isActive {
  color: $color-primary;
}

.menuCommandIcon {
  font-family: Material;
  font-size: 22px;
  color: $color-grey-icon;
  opacity: 0.3;
}

.menuItemContainer {
  display: flex;
  width: 100%;
  margin-right: 80px;
}

.menuCommandIconContainer {
  position: absolute;
  right: 8px;
}

.menuCommandIcon:hover {
  opacity: 1;
}
