@import 'css/font-faces.scss';
@import 'css/variables.scss';

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    color: white;
    font-family: Segoe;
    font-size: 16px !important;
}

.button:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

.mainMenuButton {
    display: flex;
}

.mainMenuIcon {
    font-family: Material;
    font-size: 22px;
    color: $color-grey-icon;
    margin: 0 8px 0 0;
}

.mainMenuIcon.isActive{
    color: $color-primary;
}

.mainMenuCommandIcon{
    font-family: Material;
    font-size: 22px;
    color: $color-grey-icon;
    opacity: 0.3;
}

.mainMenuItemContainer{
    display: flex;
    width: 100%;
    margin-right: 80px;
}

.mainMenuCommandIconContainer{
    position: absolute;
    right: 8px;
}

.mainMenuCommandIcon:hover{
    opacity: 1.0;
}