<div class="window-button main-menu-button" mat-icon-button [matMenuTriggerFor]="menu">
    &#xE700;
</div>
<mat-menu #menu="matMenu">
    <button class="menu-button" mat-menu-item [matMenuTriggerFor]="subMenu">
        <span class="menu-icon">&#xE6DD;</span>
        {{ 'MainMenu.Collections' | translate }}
    </button>
    <mat-divider></mat-divider>
    <button class="menu-button" routerLink="/settings" mat-menu-item>
        <span class="menu-icon">&#xE8B8;</span>
        {{ 'MainMenu.Settings' | translate }}
    </button>
    <button class="menu-button" routerLink="/information" mat-menu-item>
        <span class="menu-icon">&#xE88E;</span>
        {{ 'MainMenu.Information' | translate }}
    </button>
</mat-menu>
<mat-menu #subMenu="matMenu">
    <button class="menu-button" mat-menu-item (click)="addCollectionAsync()">
        <span class="menu-icon">&#xE145;</span>
        {{ 'MainMenu.AddCollection' | translate }}
    </button>
    <mat-divider></mat-divider>

    <div *ngFor="let collection of collections">
        <button class="menu-button" mat-menu-item>
            <span class="menu-item" (click)="activateCollection(collection)" matTooltip="{{ 'Tooltips.Activate' | translate }}">
                <span class="menu-icon" [ngClass]="{'isActive' : collection === activeCollection }">&#xE02F;</span>
                <span>{{ collection }}</span>
            </span>
            <span class="menu-command-item mr-1">
                <span class="menu-command-item-icon mr-1" matTooltip="{{ 'Tooltips.Rename' | translate }}" (click)="renameCollection(collection)">&#xE254;</span>
                <span class="menu-command-item-icon" matTooltip="{{ 'Tooltips.Delete' | translate }}" (click)="deleteCollectionAsync(collection)">&#xE872;</span>
            </span>
        </button>
    </div>
</mat-menu>