<app-dialog-header titleText="{{ 'DialogTitles.RenameCollection' | translate }}"></app-dialog-header>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="newCollection" placeholder="{{ 'Input.Collection' | translate }}"
        (keyup.enter)="renameCollectionAndCloseAsync()">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [disabled]="!newCollection"
                       [mat-dialog-close]="true" (click)="renameCollectionAsync()">{{ 'Buttons.Ok' | translate }}
    </app-accent-button>
    <app-transparent-button [mat-dialog-close]="true">{{ 'Buttons.Cancel' | translate }}</app-transparent-button>
</mat-dialog-actions>