@import 'variables';
@import 'theming';

.app-collection {
    display: flex;
    flex-direction: column;
}

.app-collection__menu {
    margin-left: 106px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.app-collection__headers {
    height: 48px;
}

.app-collection__content {
}

.app-collection__content .mat-tab-header {
    display: none;
}

.count-label {
    @extend .background-color-primary;
    margin: 0 0 10px 10px;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    padding-left: 7px;
    padding-right: 7px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notebooks-pane {
    height: 100%;
    border-right: 1px solid $color-lightgrey;
}

.notes-pane {
    height: 100%;
}
