@import 'variables';
@import 'theming';

.app-collection {
    display: flex;
    flex-direction: column;
}

.app-collection__menu {
    margin-left: 106px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.app-collection__headers {
    height: 48px;
}

.app-collection__content {
}

.app-collection__content .mat-tab-header {
    display: none;
}

.count-label {
    @extend .background-color-primary;
    margin: 0 0 10px 10px;
    min-width: 22px;
    height: 22px;
    border-radius: 11px;
    padding-left: 7px;
    padding-right: 7px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notebooks-pane {
    position: relative;
    height: 100%;
    border-right: 1px solid $color-lightgrey;
}

.notebooks-pane-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.notebooks-pane-content__title {
    display: flex;
    flex-direction: row;
}

.notebooks-pane-content__list {
    flex: 1;
    overflow: auto;
    margin-top: 18px;
}

.notebook {
    display: flex;
    align-items: center;
    cursor: default !important;
    height: 40px;
}

.notebook:hover {
    background: $color-hover;
}

.notebook-name {
    height: 40px;
    line-height: 40px;
}

.notebooks-pane-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.notes-pane {
    height: 100%;
}

.list-button {
    margin-top: 8px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.add-item-icon {
    font-size: 28px;
    color: #fff;
}

.edit-item-icon {
    font-size: 22px;
    color: $color-grey-icon;
}

.right-pane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.notes-pane {
    position: relative;
    width: 100%;
    height: 100%;
}

.notes-pane-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.notes-pane-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.active-notebook-and-search {
    width: 100%;
}

.drop-notebook {
    @extend .background-color-primary-0-2;
}
