<app-logo-main class="main-logo"></app-logo-main>
<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea pl-1"></div>
        <app-collection-switcher *ngIf="!appearance.windowHasNativeTitleBar"></app-collection-switcher>
        <app-window-controls *ngIf="!appearance.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame-overlay" *ngIf="isBusy">
        <mat-spinner class="mt-4" [diameter]="100"></mat-spinner>
    </div>
    <div class="window-frame-content" [ngStyle]="{ top: appearance.windowHasNativeTitleBar ? '10px' : '32px' }">
        <div class="app-collection">
            <mat-tab-group class="app-collection__headers" (selectedTabChange)="onSelectedTabChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h4>{{ 'NotesTabs.All' | translate }}</h4>
                        <div class="count-label">{{ allNotesCount }}</div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h4>{{ 'NotesTabs.Today' | translate }}</h4>
                        <div class="count-label">{{ todayNotesCount }}</div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h4>{{ 'NotesTabs.Yesterday' | translate }}</h4>
                        <div class="count-label">{{ yesterdayNotesCount }}</div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h4>{{ 'NotesTabs.ThisWeek' | translate }}</h4>
                        <div class="count-label">{{ thisWeekNotesCount }}</div>
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <h4>{{ 'NotesTabs.Marked' | translate }}</h4>
                        <div class="count-label">{{ markedNotesCount }}</div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <app-main-menu class="app-collection__menu" [selectedMenuItem]="1"></app-main-menu>
            <mat-tab-group class="app-collection__content viewport-height">
                <!-- <as-split gutterSize="4" unit="pixel" direction="horizontal" (dragEnd)="dragEnd($event)" #split="asSplit">
                    <as-split-area [size]="area1Size" #area1="asSplitArea"> </as-split-area>
                    <as-split-area size="*" #area2="asSplitArea"> </as-split-area>
                </as-split> -->
            </mat-tab-group>
        </div>
    </div>
</div>
