<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea pl-1">
            {{ applicationName }}
        </div>
        <main-menu-button></main-menu-button>
        <window-controls></window-controls>
    </div>
    <div class="window-frame-overlay" *ngIf="isBusy">
        <mat-spinner class="mt-4" [diameter]="100"></mat-spinner>
    </div>
    <div class="window-frame-content">
        <div class="collection">
            <!-- Notebooks -->
            <div class="collection-notebooks">
                <!-- Notebooks title -->
                <div class="collection-notebooks-title p-2 no-select">
                    <h3>{{ 'MainPage.Notebooks' | translate }}</h3>
                    <div class="count-label">{{notebooksCount}}</div>
                </div>
                <!-- Notebooks list container -->
                <div class="collection-notebooks-list">
                    <!-- Notebooks list -->
                    <mat-selection-list dense class="collection-notebooks-list-list">
                        <mat-list-option class="notebook"
                            [ngClass]="{'selected-notebook':notebook === selectedNotebook, 'drop-notebook':notebook === hoveredNotebook }"
                            *ngFor="let notebook of notebooks" role="option" (drop)="notebookDrop($event, notebook)"
                            (dragover)="notebookDragOver($event, notebook)" (dragleave)="notebookDragLeave($event)">
                            <p class="notebook-name no-select"
                                [ngStyle]="{'font-weight': notebook.isDefault ? 'bold' : 'normal' }"
                                (click)="setSelectedNotebook(notebook)">
                                {{ notebook.name }}</p>
                        </mat-list-option>
                    </mat-selection-list>
                    <!-- Notebooks buttons -->
                    <div class="collection-notebooks-list-buttons m-2">
                        <button class="list-button" mat-mini-fab color="" (click)="renameNotebook()"
                            matTooltip="{{ 'Tooltips.RenameNotebook' | translate }}" *ngIf=canEditNotebook>
                            <span class="edit-item-icon">&#xE254;</span>
                        </button>
                        <button class="list-button" mat-mini-fab color="" (click)="deleteNotebookAsync()"
                            matTooltip="{{ 'Tooltips.DeleteNotebook' | translate }}" *ngIf=canEditNotebook>
                            <span class="edit-item-icon">&#xE872;</span>
                        </button>
                        <button class="list-button" mat-fab (click)="addNotebookAsync()"
                            matTooltip="{{ 'Tooltips.AddNotebook' | translate }}">
                            <span class="add-item-icon">&#xE145;</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Selected notebook and search -->
            <selectednotebookandsearch-component class="selected-notebook-and-search"
                [selectedNotebook]="selectedNotebook" [(notesCount)]="notesCount">
            </selectednotebookandsearch-component>
            <!-- Note buttons -->
            <div class="note-buttons m-2" [@noteButtonsVisibility]="noteButtonsVisibility">
                <button class="list-button" mat-mini-fab color="" (click)="deleteNotesAsync()"
                    matTooltip="{{ 'Tooltips.DeleteNotes' | translate }}" *ngIf=canEditNotes>
                    <span class="edit-item-icon">&#xE872;</span>
                </button>
                <button class="list-button" mat-mini-fab color="" (click)="importNotesAsync()"
                    matTooltip="{{ 'Tooltips.ImportNotes' | translate }}">
                    <span class="edit-item-icon-import">&#xF56F;</span>
                </button>
                <button class="list-button" mat-fab (click)="addNoteAsync()"
                    matTooltip="{{ 'Tooltips.AddNote' | translate }}">
                    <span class="add-item-icon">&#xE145;</span>
                </button>
            </div>
            <!-- Tabs -->
            <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'NotesTabs.All' | translate }}
                        <div class="count-label">{{allNotesCount}}</div>
                    </ng-template>
                    <notes-component [selectedNotebook]="selectedNotebook" [componentCategory]="allCategory"
                        [categoryChangedSubject]="tabChangedSubject" (notesCount)="onNotesCountChanged($event)"
                        (selectedNoteIds)="onSelectedNotesChanged($event)" (drop)="notesDrop($event)"
                        (dragover)="notesDragOver($event)"></notes-component>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'NotesTabs.Today' | translate }}
                        <div class="count-label">{{todayNotesCount}}</div>
                    </ng-template>
                    <notes-component [selectedNotebook]="selectedNotebook" [componentCategory]="todayCategory"
                        [categoryChangedSubject]="tabChangedSubject" (notesCount)="onNotesCountChanged($event)"
                        (selectedNoteIds)="onSelectedNotesChanged($event)" (drop)="notesDrop($event)"
                        (dragover)="notesDragOver($event)"></notes-component>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'NotesTabs.Yesterday' | translate }}
                        <div class="count-label">{{yesterdayNotesCount}}</div>
                    </ng-template>
                    <notes-component [selectedNotebook]="selectedNotebook" [componentCategory]="yesterdayCategory"
                        [categoryChangedSubject]="tabChangedSubject" (notesCount)="onNotesCountChanged($event)"
                        (selectedNoteIds)="onSelectedNotesChanged($event)" (drop)="notesDrop($event)"
                        (dragover)="notesDragOver($event)"></notes-component>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'NotesTabs.ThisWeek' | translate }}
                        <div class="count-label">{{thisWeekNotesCount}}</div>
                    </ng-template>
                    <notes-component [selectedNotebook]="selectedNotebook" [componentCategory]="thisWeekCategory"
                        [categoryChangedSubject]="tabChangedSubject" (notesCount)="onNotesCountChanged($event)"
                        (selectedNoteIds)="onSelectedNotesChanged($event)" (drop)="notesDrop($event)"
                        (dragover)="notesDragOver($event)"></notes-component>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'NotesTabs.Marked' | translate }}
                        <div class="count-label">{{markedNotesCount}}</div>
                    </ng-template>
                    <notes-component [selectedNotebook]="selectedNotebook" [componentCategory]="markedCategory"
                        [categoryChangedSubject]="tabChangedSubject" (notesCount)="onNotesCountChanged($event)"
                        (selectedNoteIds)="onSelectedNotesChanged($event)" (drop)="notesDrop($event)"
                        (dragover)="notesDragOver($event)"></notes-component>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>