@import "css/variables.scss";
@import "css/theming.scss";

.collection {
  width: 100%;
  height: 100%;
}

.collection .mat-tab-body-wrapper {
  margin: 74px 0 0 350px;
}

.collection-notebooks {
  position: absolute;
  background-color: $color-lightgrey;
  border-right: 1px solid $color-lightgrey-border;
  border-bottom: 1px solid $color-lightgrey-border;
  border-left: 1px solid $color-lightgrey-border;
  top: 0;
  left: 0;
  margin: 48px 0 0 0;
  height: calc(100% - 48px);
  width: 351px;
  display: flex;
  flex-direction: column;
}

.collection-notebooks-title {
  display: flex;
}

.collection-notebooks-list {
  flex: 1;
  position: relative;
}

.collection-notebooks-list-buttons {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  right: 0px !important;
  bottom: 0px !important;
  z-index: 2;
}

.collection-notebooks-list-list {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.count-label {
  @extend .background-color-primary;
  margin: 0 0 10px 10px;
  min-width: 22px;
  height: 22px;
  border-radius: 12px;
  padding: 1px 7px 1px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.list-button {
  margin-top: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.add-item-icon {
  font-family: material;
  font-size: 28px;
  color: #fff;
}

.edit-item-icon {
  font-family: material;
  font-size: 20px;
  @extend .color-primary;
}

.edit-item-icon-import {
  @extend .color-primary;
  font-family: fa-solid;
  font-size: 16px;
  margin-right: 2px;
}

.notebook {
  font-size: $fontsize-normal !important;
  cursor: default !important;
}

.notebook-name {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.selected-notebook {
  background-color: #e6e7e7;
}

.selected-notebook-and-search {
  position: absolute;
  top: 48px;
  left: 351px;
  background-color: #fff;
  width: calc(100% - 351px);
}

.note-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
