@import 'variables';

.app-settings {
    display: flex;
    flex-direction: column;
}

.app-settings__menu {
    margin-left: 106px;
    margin-top: 11px;
    margin-bottom: 11px;
}

.app-settings__headers {
    height: 48px;
}

.app-settings__content .mat-tab-header {
    display: none;
}
