@import "theming";

.font-size-selector {
  width: 75px;
}

.main-logo {
  @extend .background-color-primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  border-radius: 40px;
  z-index: 1;
}

.settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}