@import 'variables';

.app-settings {
    display: flex;
    flex-direction: column;
}

.app-settings__menu {
    margin-left: 106px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.app-settings__headers {
    height: 48px;
}

.app-settings__content .mat-tab-header {
    display: none;
}

.font-size-selector {
    width: 75px;
}
