<app-logo-main
        class="main-logo pointer"
        (click)="goBackToCollection()"
        matTooltip="{{ 'Tooltips.BackToNotes' | translate }}"
        [showBackArrow]="true"
></app-logo-main>
<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea pl-1"></div>
        <app-collection-switcher *ngIf="!appearance.windowHasNativeTitleBar"></app-collection-switcher>
        <app-window-controls *ngIf="!appearance.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame-overlay" *ngIf="isBusy">
        <mat-spinner class="mt-4" [diameter]="100"></mat-spinner>
    </div>
    <div class="window-frame-content" [ngStyle]="{ top: appearance.windowHasNativeTitleBar ? '10px' : '32px' }">
        <div class="app-settings">
            <mat-tab-group class="app-settings__headers" [(selectedIndex)]="selectedIndex">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'SettingsTabs.Appearance' | translate }}
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'SettingsTabs.Notes' | translate }}
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'SettingsTabs.Advanced' | translate }}
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <app-main-menu class="app-settings__menu" [selectedMenuItem]="2"></app-main-menu>
            <mat-tab-group class="app-settings__content viewport-height" [(selectedIndex)]="selectedIndex">
                <mat-tab>
                    <div class="m-3">
                        <div class="title1">{{ 'SettingsPage.Theme' | translate }}</div>
                        <div>
                            <app-toggle-switch [(isChecked)]="appearance.followSystemTheme">
                                {{ 'SettingsPage.FollowSystemTheme' | translate }}
                            </app-toggle-switch>
                        </div>
                        <div>
                            <app-toggle-switch class="mt-3" [ngClass]="{ inactive: appearance.followSystemTheme }" [(isChecked)]="appearance.useLightBackgroundTheme">
                                {{ 'SettingsPage.UseLightTheme' | translate }}
                            </app-toggle-switch>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1">{{ 'SettingsPage.Color' | translate }}</div>
                        <div>
                            <app-toggle-switch [(isChecked)]="appearance.followSystemColor">
                                {{ 'SettingsPage.FollowSystemColor' | translate }}
                            </app-toggle-switch>
                        </div>
                        <app-theme-switcher class="mt-2"></app-theme-switcher>
                        <div class="d-flex flex-row mt-3">
                            <app-icon-text-button class="mr-2" (click)="this.appearance.refreshThemes()" icon="las la-sync">{{
                                    'SettingsPage.RefreshThemes' | translate
                                }}</app-icon-text-button>
                            <app-icon-text-button (click)="this.openThemesDirectory()" icon="las la-plus">{{
                                    'SettingsPage.AddMoreThemes' | translate
                                }}</app-icon-text-button>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1">{{ 'SettingsPage.FontSize' | translate }}</div>
                        <app-font-size-switcher class="mt-2"></app-font-size-switcher>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.Language' | translate }}</div>
                        <mat-form-field>
                            <mat-select [(ngModel)]="translator.selectedLanguage">
                                <mat-option *ngFor="let language of translator.languages" [value]="language">
                                    {{ language.localizedName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.TitleBar' | translate }}</div>
                        <app-toggle-switch class="mt-2" [(isChecked)]="useCustomTitleBarChecked">
                            {{ 'SettingsPage.UseCustomTitleBar' | translate }}
                        </app-toggle-switch>
                    </div>
                </mat-tab>
                <mat-tab>
                    <div class="m-3">
                        <div class="title1">{{ 'SettingsPage.TextSize' | translate }}</div>
                        <app-settings-text-size-in-notes></app-settings-text-size-in-notes>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.FormatsForNewNotes' | translate }}</div>
                            <app-toggle-switch class="mt-2" [(isChecked)]="classicNoteChecked">
                                {{ 'SettingsPage.ClassicNote' | translate }}
                            </app-toggle-switch>
                            <app-toggle-switch class="mt-2" [(isChecked)]="markdownNoteChecked">
                                {{ 'SettingsPage.MarkdownNote' | translate }}
                            </app-toggle-switch>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.Closing' | translate }}</div>
                        <app-toggle-switch class="mt-2" [(isChecked)]="closeNotesWithEscapeChecked">
                            {{ 'SettingsPage.CloseNotesWithEscape' | translate }}
                        </app-toggle-switch>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.Dates' | translate }}</div>
                        <app-toggle-switch class="mt-2" [(isChecked)]="showExactDatesInTheNotesListChecked">
                            {{ 'SettingsPage.ShowExactDatesInTheNotesList' | translate }}
                        </app-toggle-switch>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.SpellChecker' | translate }}</div>
                        <div>
                            <app-toggle-switch class="mt-2" [(isChecked)]="enableSpellCheckerChecked">
                                {{ 'SettingsPage.EnableSpellChecker' | translate }}
                            </app-toggle-switch>
                        </div>
                        <app-accent-button class="mt-2" [ngClass]="{ inactive: !this.settings.enableSpellChecker }"
                                           (click)="setSpellCheckerLanguages()"
                        >{{ 'Buttons.Languages' | translate }}
                        </app-accent-button>
                    </div>
                </mat-tab>
                <mat-tab>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.Updates' | translate }}</div>
                        <app-toggle-switch class="mt-2" [(isChecked)]="checkForUpdatesChecked">
                            {{ 'SettingsPage.CheckForUpdates' | translate }}
                        </app-toggle-switch>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1 mt-2">{{ 'SettingsPage.Trash' | translate }}</div>
                        <app-toggle-switch class="mt-2" [(isChecked)]="moveDeletedNotesToTrashChecked">
                            {{ 'SettingsPage.MoveDeletedNotesToTrash' | translate }}
                        </app-toggle-switch>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
