<div class="window-frame">
    <div class="window-frame-titlebar">
        <back-button></back-button>
        <div class="window-frame-titlebar-dragarea pl-1">
            {{ 'Pages.Information' | translate }}
        </div>
        <main-menu-button></main-menu-button>
        <window-controls></window-controls>
    </div>
    <div class="window-frame-content">
        <mat-tab-group>
            <mat-tab label="{{ 'InformationTabs.About' | translate }}">
                <div class="m-3">
                    <h1>{{ 'AboutPage.About' | translate }}</h1>
                    <logo-full class="logoContainer mt-3" [textColor]="'black'"></logo-full>
                    <div class="mt-3">
                        <p class="versionNumberContainer">
                            {{ 'AboutPage.Version' | translate }}:
                            <strong> {{applicationVersion}}</strong>
                            <br />{{applicationCopyright}}</p>
                    </div>
                    <button mat-raised-button color="primary" (click)="openLicenseDialog()">
                        {{ 'Buttons.License' | translate }}
                    </button>
                </div>
                <hr>
                <div class="m-3">
                    <h1>{{ 'AboutPage.Donate' | translate }}</h1>
                    <p>{{ 'AboutPage.IsKnowteUseful' | translate }}</p>
                    <button mat-raised-button color="primary" (click)="openDonateLink()">
                        {{ 'Buttons.Donate' | translate }}
                    </button>
                </div>
                <hr>
                <div class="m-3">
                    <h1>{{ 'AboutPage.ContactUs' | translate }}</h1>
                    <p>
                        {{ 'AboutPage.Website' | translate }}: <a href="{{ websiteUrl }}">{{ websiteUrl }}</a><br />
                        {{ 'AboutPage.Email' | translate }}: <a href="{{ emailAddress }}">{{ emailAddress }}</a><br />
                        {{ 'AboutPage.SocialNetworks' | translate }}: <a href="{{ facebookUrl }}">Facebook</a>,
                        <a href="{{ twitterUrl }}">Twitter</a>
                    </p>
                </div>
            </mat-tab>
            <mat-tab label="{{ 'InformationTabs.Components' | translate }}">
                <div class="m-3">
                    <h1>{{ 'ComponentsPage.Components' | translate }}</h1>

                    <p *ngFor="let externalComponent of externalComponents">
                        <strong>{{externalComponent.name}}</strong><br />
                        {{externalComponent.description}}<br />
                        <a href="{{externalComponent.url}}">{{ 'AboutPage.Website' | translate }}</a>
                        <a class="ml-1"
                            href="{{externalComponent.licenseUrl}}">{{ 'AboutPage.License' | translate }}</a>
                    </p>

                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>