@import "css/variables.scss";

.contact-item {
  display: flex;
  flex-direction: row;
}

.contact-item-icon-solid {
  font-family: fa-solid;
  font-size: 24px;
}

.contact-item-icon-brands {
    font-family: fa-brands;
    font-size: 24px;
  }