@import 'css/variables.scss';
// Couldn't find a better way to force the main container to fill the screen
.informationContainer {
    position: absolute;
    top: $titlebar-height;
    bottom: 0;
    left: 0;
    right: 0;
}