<app-logo-main
    class="main-logo pointer"
    (click)="goBackToCollection()"
    matTooltip="{{ 'Tooltips.BackToNotes' | translate }}"
    [showBackArrow]="true"
></app-logo-main>
<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea pl-1"></div>
        <app-collection-switcher *ngIf="!appearance.windowHasNativeTitleBar"></app-collection-switcher>
        <app-window-controls *ngIf="!appearance.windowHasNativeTitleBar"></app-window-controls>
    </div>
    <div class="window-frame-overlay" *ngIf="isBusy">
        <mat-spinner class="mt-4" [diameter]="100"></mat-spinner>
    </div>
    <div class="window-frame-content" [ngStyle]="{ top: appearance.windowHasNativeTitleBar ? '10px' : '32px' }">
        <div class="app-information">
            <mat-tab-group class="app-information__headers" [(selectedIndex)]="selectedIndex">
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'InformationTabs.About' | translate }}
                    </ng-template>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        {{ 'InformationTabs.Components' | translate }}
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            <app-main-menu class="app-information__menu" [selectedMenuItem]="3"></app-main-menu>
            <mat-tab-group class="app-information__content viewport-height" [(selectedIndex)]="selectedIndex">
                <mat-tab>
                    <div class="m-3">
                        <div class="title1">{{ 'AboutPage.About' | translate }}</div>
                        <app-logo-full class="mt-3"></app-logo-full>
                        <div class="mt-3">
                            {{ 'AboutPage.Version' | translate }}:
                            <strong> {{ applicationVersion }}</strong>
                            <br />{{ applicationCopyright }}
                        </div>
                        <app-transparent-button class="mt-2"  (click)="openLicenseDialog()">
                            {{ 'Buttons.License' | translate }}
                        </app-transparent-button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1">{{ 'AboutPage.Donate' | translate }}</div>
                        <div>{{ 'AboutPage.IsKnowteUseful' | translate }}</div>
                        <app-accent-button class="mt-2" (click)="openDonateLink()">
                            {{ 'Buttons.Donate' | translate }}
                        </app-accent-button>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="m-3">
                        <div class="title1">{{ 'AboutPage.GetInTouch' | translate }}</div>

                        <div class="contact-item mb-1">
                            <i class="contact-item-icon mr-1 las la-globe"></i>
                            <a href="{{ websiteUrl }}" matTooltip="{{ websiteUrl }}">{{ 'AboutPage.Website' | translate }}</a>
                        </div>
                        <div class="contact-item mb-1">
                            <i class="contact-item-icon mr-1 lab la-twitter"></i>
                            <a href="{{ twitterUrl }}" matTooltip="{{ twitterUrl }}">Twitter</a>
                        </div>
                        <div class="contact-item mb-1">
                            <i class="contact-item-icon mr-1 lab la-mastodon"></i>
                            <a href="{{ mastodonUrl }}" matTooltip="{{ mastodonUrl }}">Mastodon</a>
                        </div>
                        <div class="contact-item">
                            <i class="contact-item-icon mr-1 lab la-github"></i>
                            <a href="{{ githubUrl }}" matTooltip="{{ githubUrl }}">GitHub</a>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab>
                    <div class="m-3">
                        <div class="title1">{{ 'ComponentsPage.Components' | translate }}</div>

                        <div class="mb-2" *ngFor="let externalComponent of externalComponents">
                            <strong>{{ externalComponent.name }}</strong
                            ><br />
                            {{ externalComponent.description }}<br />
                            <a href="{{ externalComponent.url }}">{{ 'AboutPage.Website' | translate }}</a>
                            <a class="ml-1" href="{{ externalComponent.licenseUrl }}">{{ 'AboutPage.License' | translate }}</a>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
