@import 'variables';

.app-trash {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.app-trash__header {
}

.app-trash__body {
    overflow-y: auto;
}

.app-trash-select-all-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.trashed-note {
    height: 48px;
    display: flex;
    flex-direction: row;
}

.trashed-note__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.trashed-note__info {
    height: 48px;
    display: flex;
    flex-direction: column;
}

.trashed-note__title {
    margin-top: 4px;
    height: 24px;
}

.trashed-note__trasheddate {
    margin-bottom: 4px;
    height: 24px;
    color: $color-grey;
}
