<div class="app-trash p-2">
    <div class="app-trash__header no-select">
        <div class="app-trash__title">
            <div class="title2">{{ 'Trash.Trash' | translate }}</div>
            <div class="count-label">
                {{ this.trashedNotes.length }}
            </div>
        </div>
        <div class="app-trash-select-all-checkbox" *ngIf="this.trashedNotes.length > 0">
            <mat-checkbox class="m-2" (change)="selectAllNotes($event)"></mat-checkbox>
            <div>{{ 'Trash.SelectAllNotes' | translate }}</div>
        </div>
    </div>
    <div class="app-trash__body" *ngIf="this.trashedNotes.length > 0">
        <cdk-virtual-scroll-viewport class="app-trash__notes" itemSize="48">
            <div class="trashed-note no-select" *cdkVirtualFor="let trashedNote of trashedNotes" (dblclick)="openNoteAsync(trashedNote)">
                <div class="trashed-note__checkbox mx-2">
                    <mat-checkbox (change)="changeNoteSelection(trashedNote, $event)" [(ngModel)]="trashedNote.isSelected"></mat-checkbox>
                </div>
                <div class="trashed-note__info">
                    <div class="trashed-note__title">{{ trashedNote.title }}</div>
                    <div class="trashed-note__trasheddate">
                        {{ 'Trash.MovedToTrash' | translate }}: {{ trashedNote.displayTrashedDate }}
                    </div>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
        <div class="app-trash__buttons mr-3" *ngIf="hasSelectedTrashedNotes">
            <button
                class="list-button"
                mat-mini-fab
                color=""
                (click)="deleteSelectedNotesAsync()"
                matTooltip="{{ 'Trash.DeletePermanently' | translate }}"
            >
                <i class="edit-item-icon lar la-trash-alt"></i>
            </button>
            <button class="list-button" mat-fab (click)="restoreSelectedNotesAsync()" matTooltip="{{ 'Trash.Restore' | translate }}">
                <i class="restore-item-icon las la-undo"></i>
            </button>
        </div>
    </div>
</div>
