<div class="color-scheme-switcher">
    <div *ngFor="let colorScheme of this.appearanceService.colorSchemes">
        <div class="color-scheme-switcher-button mr-1 mb-1" matTooltip="{{ colorScheme.name }}">
            <i
                class="color-scheme-switcher-button-selector las la-check"
                *ngIf="colorScheme.name === this.appearanceService.selectedColorScheme.name"
            ></i>
            <div
                class="color-scheme-switcher-button-color"
                [ngStyle]="{ 'background-color': colorScheme.accentColor }"
                (click)="setColorScheme(colorScheme)"
            ></div>
        </div>
    </div>
</div>
