<div class="notebook-switcher">
    <div class="notebook-switcher-selected-notebook no-select mr-1">
        {{ selectedNotebookName }}
    </div>
    <div class="window-button notebook-swichter-button" mat-icon-button [matMenuTriggerFor]="menu"
        matTooltip="{{ 'Tooltips.ChangeNotebook' | translate }}" (click)="getNotebooks()">
        <i class="custom-font las la-ellipsis-v"></i>
    </div>
</div>
<mat-menu #menu="matMenu">
    <div *ngFor="let notebook of notebooks">
        <button class="menu-button" mat-menu-item>
            <span class="menu-item" (click)="changeNotebook(notebook)"
                [ngStyle]="{'font-weight':notebook.id === '1' ? 'bold' : 'normal' }">
                <span class="menu-icon" [ngClass]="{'isActive' : notebook.name === selectedNotebookName }">
                    <i class="custom-font las la-folder"></i>
                </span>
                <span>{{ notebook.name }}</span>
            </span>
        </button>
    </div>
</mat-menu>