<div class="mainContent">
  <div class="notebooksPane"></div>
  <div class="allPane">
    <div class="tabsPane">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'TABS.ALL' | translate }}
            <div class="noteCount">924</div>
          </ng-template>
          <p class="m-20">Work in progress</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'TABS.TODAY' | translate }}
            <div class="noteCount">10</div>
          </ng-template>
          <p class="m-20">Work in progress</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'TABS.YESTERDAY' | translate }}
            <div class="noteCount">8</div>
          </ng-template>
          <p class="m-20">Work in progress</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'TABS.THISWEEK' | translate }}
            <div class="noteCount">5</div>
          </ng-template>
          <p class="m-20">Work in progress</p>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'TABS.THISWEEK' | translate }}
            <div class="noteCount">2</div>
          </ng-template>
          <p class="m-20">Work in progress</p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="buttonPane">
      <button class="mainMenuButton" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>
          <span>&#58836;</span>
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </div>
</div>