<div class="notebooksPane"></div>
<mat-tab-group>
  <mat-tab label="{{ 'TABS.ALL' | translate }}">
    <p>{{ 'TABS.ALL' | translate }}</p>
  </mat-tab>
  <mat-tab label="{{ 'TABS.TODAY' | translate }}">
    <p>{{ 'TABS.TODAY' | translate }}</p>
  </mat-tab>
  <mat-tab label="{{ 'TABS.YESTERDAY' | translate }}">
    <p>{{ 'TABS.YESTERDAY' | translate }}</p>
  </mat-tab>
  <mat-tab label="{{ 'TABS.THISWEEK' | translate }}">
    <p>{{ 'TABS.THISWEEK' | translate }}</p>
  </mat-tab>
  <mat-tab label="{{ 'TABS.MARKED' | translate }}">
    <p>{{ 'TABS.MARKED' | translate }}</p>
  </mat-tab>
</mat-tab-group>