@import 'css/custom-theme.scss';

.mainContent { 
  position: relative;
  height: 100%;
}

.mat-tab-body-wrapper {
  margin: 0px -42px 0px 300px;
}

.allPane{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.tabsPane{
  width: calc(100% - 42px);
}

.buttonPane{
  display: flex;
  width: 42px;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: $color-darkgrey;
}

.buttonPane .mainMenuButton{
  font-family: material; 
  color: #FFF;
  font-size: 20px;
}

.notebooksPane{
  position: absolute;
  background-color: $color-lightgrey;
  border-right: 1px solid $color-lightgrey-border;
  top: 0;
  left: 0;
  margin: 48px 0 0 0;
  height: calc(100% - 48px);
  width: 300px;
  z-index: 99;
}

.noteCount{
  margin: 0 0 10px 10px;
  min-width: 22px;
  height:22px;
  border-radius: 11px;
  padding: 5px;
  background-color: $color-primary;
  font-size: 12px;
  font-weight: bold;
}