@import "variables";
.tasks-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks-progress-count{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--fontsize-normal) !important;
}

.tasks-progress-icon {
  color: $color-grey;
  font-size: 20px;
}

.tasks-progress-bar{
    height: 6px;
    width: 100px;
    position: relative;
}

.tasks-progress-bar-handle{
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background-color: $color-grey;
    z-index: 1;
}

.tasks-progress-bar-track{
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    width: 100px;
    background-color: $color-lightgrey;
    z-index: 0;
}
