<div class="notesContainer">
    <div class="notebooksContainer p-2">
        <div class="notebooksTitleContainer">
            <h2>{{ 'MainPage.Notebooks' | translate }}</h2>
            <div class="countLabel">{{allNotesCount}}</div>
        </div>
        <div class="notebooksListContainer">
            <mat-selection-list dense class="notebooksListContainerList">
                <mat-list-option class="notebook" *ngFor="let notebook of notebooks" role="option"> 
                    <p class="notebookName" [ngStyle]="{'font-weight': notebook.isDefault ? 'bold' : 'normal' }" (click)="setSelectedNotebook(notebook)">
                        {{ notebook.name }}</p>
                </mat-list-option>
            </mat-selection-list>
            <div class="notebooksListButtonContainer">
                <button class="notebooksListButton" mat-mini-fab color="" (click)="renameNotebook()" 
                matTooltip="{{ 'MainPage.RenameNotebook' | translate }}" *ngIf=canEditSelectedNotebook>
                    <span class="renameNotebookIcon">&#xE254;</span>
                </button>
                <button class="notebooksListButton" mat-mini-fab color="" (click)="deleteNotebook()" 
                matTooltip="{{ 'MainPage.DeleteNotebook' | translate }}" *ngIf=canEditSelectedNotebook>
                    <span class="deleteNotebookIcon">&#xE872;</span>
                </button>
                <button class="notebooksListButton" mat-fab color="primary" (click)="addNotebook()" matTooltip="{{ 'MainPage.AddNotebook' | translate }}">
                    <span class="newNotebookIcon">&#xE145;</span>
                </button>
            </div>
        </div>
    </div>
    <mat-tab-group>
        <mat-tab>
            <ng-template mat-tab-label>
                {{ 'NotesTabs.All' | translate }}
                <div class="countLabel">{{allNotesCount}}</div>
            </ng-template>
            <p class="m-3">Work in progress</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                {{ 'NotesTabs.Today' | translate }}
                <div class="countLabel">{{todayNotesCount}}</div>
            </ng-template>
            <p class="m-3">Work in progress</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                {{ 'NotesTabs.Yesterday' | translate }}
                <div class="countLabel">{{yesterdayNotesCount}}</div>
            </ng-template>
            <p class="m-3">Work in progress</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                {{ 'NotesTabs.ThisWeek' | translate }}
                <div class="countLabel">{{thisWeekNotesCount}}</div>
            </ng-template>
            <p class="m-3">Work in progress</p>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                {{ 'NotesTabs.Marked' | translate }}
                <div class="countLabel">{{markedNotesCount}}</div>
            </ng-template>
            <p class="m-3">Work in progress</p>
        </mat-tab>
    </mat-tab-group>
</div>