<div class="notesContainer">
    <!-- Notes title -->
    <div class="notesTitleContainer p-2 noselect">
        <h2>{{ selectedNotebook?.name }}</h2>
        <div class="countLabel">{{notesCount}}</div>
    </div>
    <!-- Notes list container -->
    <div class="notesListContainer">
        <!-- Notes list -->
        <mat-selection-list class="notesListContainerList">
            <mat-list-option [ngClass]="{'selectedItem':note === selectedNote }" *ngFor="let note of notes" role="option">
                <div class="noselect" (dblclick)="openNote()" (click)="setSelectedNote(note)">
                    <div class="noteItem px-2">
                        <div class="noteItemIcon">
                            <img class="notePenImage" src="./assets/images/pencil_256x256.svg">
                        </div>
                        <div class="noteItemInfo pl-1">
                            <div class="noteItemTitle">
                                {{ note.title }}
                            </div>
                            <div class="noteItemDate">
                                {{ note.modificationDate }}
                            </div>
                        </div>
                    </div>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>