@import "css/variables.scss";

.notes {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.notes-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.notes-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.notes-content-title-and-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.notes-content-title {
  display: flex;
}

.notes-content-search {
  margin-top: -8px;
  width: 150px;
}

.notes-content-search-clearbutton {
  font-family: material;
  font-size: 18px;
  color: #aaaaaa;
  cursor: pointer;
}

.notes-content-list {
  margin-top: -8px;
  flex: 1;
  position: relative;
}

.notes-content-list-list {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: auto;
}

.selected-note {
  background-color: #f0f0f0;
}

.note-item {
  height: 48px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.note-item:hover {
  background-color: #f5f5f5;
}

.note-item-icon {
  margin: 4px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: $color-primary;
}

.note-item-icon-pen {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

.note-item-actions {
  margin: 0 75px 0 0;
  width: 20px;
  min-width: 20px;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  font-family: material;
}

.note-item-actions-heart-marked {
  color: $color-primary;
}

.note-item-actions-heart-unmarked {
  color: #aaaaaa;
}

.note-item-info {
  height: 48px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.note-item-title {
  margin-top: 4px;
  height: 20px;
  font-size: $fontsize-normal !important;
  display: flex;
  align-items: center;
}

.note-item-title > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-item-date {
  margin-bottom: 4px;
  height: 20px;
  font-size: $fontsize-normal !important;
  color: #aaaaaa;
  display: flex;
  align-items: center;
}

.note-item-date > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}