@import 'variables';

.notes {
    height: 100%;
    width: 100%;
}

.drag-image {
    position: absolute;
    top: -500px;
    left: 0;
    z-index: 0; // z-index is required. Otherwise the image isn't displayed while dragging. The value of z-index doesn't seem to matter.
    border: 1px solid var(--theme-separator);
    height: 38px;
    display: flex;
    flex-direction: row;
    background: var(--theme-background);
    align-items: center;
    justify-content: center;
}

.drag-image-icon {
    background: linear-gradient(-45deg, var(--theme-primary-color) 0%, var(--theme-secondary-color) 100%);
    margin: 4px;
    width: 28px;
    min-width: 28px;
    height: 28px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag-image-icon-pen {
    width: 14px;
    height: 14px;
}

.drag-image-text {
    flex: 1;
}

.notes-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.note-item {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default !important;
}

.note-item:hover {
    background-color: var(--theme-hover-background);
}

.note-item-icon {
    background: linear-gradient(45deg, var(--theme-primary-color) 0%, var(--theme-secondary-color) 100%);
    margin-left: 4px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note-item-icon-pen {
    width: 20px;
    height: 20px;
}

.note-item-actions {
    margin: 0 100px 0 0;
    cursor: pointer;
}

.note-item-actions-heart-marked {
    color: var(--theme-accent-color);
    font-size: 22px;
}

.note-item-actions-heart-unmarked {
    color: var(--theme-secondary-text);
    font-size: 22px;
}

.note-item-info {
    height: 48px;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.note-item-info-title {
    margin-top: 4px;
    height: 20px;
    font-size: var(--fontsize-normal) !important;
    display: flex;
    align-items: center;
}

.note-item-info-title > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-item-info-date-and-tasks {
    margin-bottom: 4px;
    height: 20px;
    font-size: var(--fontsize-normal) !important;
    color: var(--theme-secondary-text);
    display: flex;
    align-items: center;
}

.note-item-info-date-and-tasks > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-status-icon {
    color: var(--theme-secondary-text);
    font-size: var(--fontsize-status-icon);
}

.note-status-text {
    color: var(--theme-secondary-text);
}
