<div class="notes-content-title-and-search p-2 no-select">
    <!-- Notes title -->
    <div class="notes-content-title">
        <h2>{{ selectedNotebook?.name }}</h2>
        <div class="count-label">{{notesCount}}</div>
    </div>
    <!-- Search -->
    <mat-form-field class="notes-content-search">
        <input matInput type="text" placeholder="{{ 'MainPage.Search' | translate }}"
            [(ngModel)]="searchService.searchText">
        <span class="notes-content-search-clearbutton" *ngIf="searchService.searchText" matSuffix
            (click)="searchService.searchText=''"
            matTooltip="{{ 'MainPage.ClearSearch' | translate }}">&#xE5C9;</span>
    </mat-form-field>
</div>