@import 'font-faces';

.window-controls {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.window-controls .close-button:hover {
    background-color: var(--theme-accent-color);
    color: white;
    fill: white;
}
