<div id="window-controls">
    <div class="window-button" id="min-button" (click)="minButtonClick()">
      <span>&#xE921;</span>
    </div>
    <div class="window-button" id="max-button" (click)="maxRestoreClick()" *ngIf="canMaximize">
      <span>&#xE922;</span>
    </div>
    <div class="window-button" id="restore-button" (click)="maxRestoreClick()" *ngIf="!canMaximize">
      <span>&#xE923;</span>
    </div>
    <div class="window-button" id="close-button" (click)="closeButtonClick()">
      <span>&#xE8BB;</span>
    </div>
  </div>