@import 'theming';

.app-logo-main {
    background: linear-gradient(45deg, var(--theme-primary-color) 0%, var(--theme-secondary-color) 100%);
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-logo-main__icon {
    width: 80px;
    height: 80px;
}

.app-logo-main__backarrow {
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px #00000066;
    -webkit-transition: font-size 0.15s;
}

.app-logo-main__backarrow:hover {
    font-size: 40px;
    color: white;
    font-size: 48px !important;
}
