.editor-wrapper {
    position: relative;
    width: 50%;
    border-right: 1px solid var(--theme-separator);
    overflow: auto;
    resize: none;
}

.editor-wrapper-hidden {
    width: 0% !important;
    padding: 0px !important;
    visibility: collapse;
}

.markdown-input, .highlighted-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre-wrap;
}

.markdown-input {
    z-index: 2;
    background: transparent;
    color: transparent !important;
    caret-color: black;
    border: none;
    resize: none;
    overflow: hidden;
}

.highlighted-content {
    z-index: 1;
    word-wrap: break-word;
    color: black;
    pointer-events: none;
}

.md-title-1 { color: var(--theme-accent-color) !important; text-decoration: underline; font-weight: bold; }
.md-title-2 { color: var(--theme-editor-secondary-text) !important; text-decoration: underline; font-weight: bold; }
.md-title-3 { color: var(--theme-editor-secondary-text) !important; text-decoration: underline; font-weight: bold; }

.markdown-output {
    width: 50%;
    overflow: auto;
    padding: 16px;
}

.markdown-output-maximized {
    width: 100% !important;
}

.markdown-edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.markdown-action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
}

.markdown-action-button-subscript {
    padding-top: 5px;
    font-size: 10px;
}

.markdown-action-separator {
    border-right: 1px solid var(--theme-separator);
    padding: 4px;
    margin: 4px;
}

.markdown-icon {
    padding: 6px;
    font-size: 20px;
}
