.markdown-input {
    width: 50%;
    resize: none;
    overflow: auto;
    border-right: 1px solid var(--theme-header-border-color);
    padding: 16px;
    font-size: var(--editor-p-font-size);
}

.markdown-input-hidden {
    width: 0% !important;
    padding: 0px !important;
    visibility: collapse;
}

.markdown-output {
    width: 50%;
    overflow: auto;
    padding: 16px;
}

.markdown-output-maximized {
    width: 100% !important;
}

.markdown-edit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.markdown-action-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
}

.markdown-action-button-subscript {
    padding-top: 5px;
    font-size: 10px;
}

.markdown-action-separator {
    border-right: 1px solid var(--theme-header-border-color);
    padding: 4px;
    margin: 4px;
}

.markdown-icon {
    padding: 6px;
    font-size: 20px;
}
