@import 'font-faces';
@import 'variables';
@import 'theming';

.collection-switcher {
    height: $titlebar-height;
    display: flex;
    flex-direction: row;
    color: var(--theme-header-text-color);
}

.collection-switcher-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    font-size: 20px;
    -webkit-app-region: no-drag;
    color: var(--theme-header-text-color);
}

.collection-switcher-active-collection {
    height: $titlebar-height;
    display: flex;
    align-items: center;
    flex: 1;
}

.collection-swichter-button {
    font-size: 20px !important;
}

.menu-button {
    display: flex !important;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 80px;
}

.menu-icon {
    font-size: 24px;
    color: $color-grey-icon;
    margin: 0 8px 0 0;
}

.menu-icon.isActive {
    color: var(--theme-accent-color);
}

.menu-command-item {
    position: absolute;
    right: 8px;
}

.menu-command-item-icon {
    font-size: 22px;
    color: $color-grey-icon;
    opacity: 0.3;
}

.menu-command-item-icon:hover {
    opacity: 1;
}
