<div class="collection-switcher">
    <div class="collection-switcher-active-collection no-select mr-1">
        {{ this.collectionService.activeCollection }}
    </div>
    <div class="window-button" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{ 'Tooltips.ChangeCollection' | translate }}">
        <div class="collection-switcher-button">
            <i class="collection-switcher-button__icon las la-bars"></i>
            <div class="collection-switcher-button__updateindicator" *ngIf="this.updateService.isUpdateAvailable"></div>
        </div>
    </div>
</div>
<mat-menu #menu="matMenu">
    <button class="menu-button" mat-menu-item (click)="addCollectionAsync()">
        <i class="menu-icon las la-plus"></i>
        {{ 'CollectionSwitcher.AddCollection' | translate }}
    </button>
    <mat-divider></mat-divider>
    <div *ngFor="let collection of collections">
        <button class="menu-button" mat-menu-item>
            <span class="menu-item" (click)="activateCollectionAsync(collection)">
                <i class="menu-icon las la-box" [ngClass]="{ isActive: collection === activeCollection }"> </i>
                <span>{{ collection }}</span>
            </span>
            <span class="menu-command-item mr-1">
                <i
                    class="menu-command-item-icon mr-2 lar la-edit"
                    matTooltip="{{ 'Tooltips.Rename' | translate }}"
                    (click)="renameCollectionAsync(collection)"
                >
                </i>
                <i
                    class="menu-command-item-icon lar la-trash-alt"
                    matTooltip="{{ 'Tooltips.Delete' | translate }}"
                    (click)="deleteCollectionAsync(collection)"
                >
                </i>
            </span>
        </button>
    </div>
    <mat-divider></mat-divider>
    <button class="menu-button" mat-menu-item (click)="openTrash()">
        <i class="menu-icon las la-trash-alt"></i>
        {{ 'CollectionSwitcher.OpenTrash' | translate }}
    </button>
    <div *ngIf="this.updateService.isUpdateAvailable">
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="downloadLatestRelease()">
            <div class="accent">
                {{ 'CollectionSwitcher.Download' | translate }} {{ this.applicationName }} {{ this.updateService.latestRelease }}
            </div>
        </button>
    </div>
</mat-menu>
