@import "font-faces";
@import "variables";
@import "theming";

.collection-switcher {
  height: $titlebar-height;
  display: flex;
  flex-direction: row;
}

.collection-switcher-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 100%;
  user-select: none;
  cursor: default;
  opacity: 0.8;
  font-size: 10px;
  -webkit-app-region: no-drag;
}

.collection-switcher-button:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}

.collection-switcher-active-collection {
  height: $titlebar-height;
  display: flex;
  align-items: center;
  flex: 1;
}

.collection-swichter-button {
  font-size: 20px !important;
  font-family: la-solid;
}

.menu-button {
  display: flex !important;
}

.menu-item {
  display: flex;
  width: 100%;
  padding-right: 80px;
}

.menu-icon {
  font-family: la-solid;
  font-size: 22px;
  color: $color-grey-icon;
  margin: 0 8px 0 0;
}

.menu-icon.isActive {
  @extend .color-primary;
}

.menu-command-item {
  position: absolute;
  right: 8px;
}

.menu-command-item-icon {
  font-family: la-solid;
  font-size: 22px;
  color: $color-grey-icon;
  opacity: 0.3;
}

.menu-command-item-icon:hover {
  opacity: 1;
}
