<app-dialog-header [titleText]="'DialogTexts.ChooseNotebook' | translate"></app-dialog-header>
<mat-dialog-content class="dialog-content">
    <ul class="notebooks-list">
        <li *ngFor="let notebook of notebooks" class="notebook" matRipple>
            <div class="no-select px-2" [ngStyle]="{'font-weight':notebook.id === '1' ? 'bold' : 'normal' }"
                (click)="changeNotebook(notebook)">
                {{ notebook.name }}
            </div>
        </li>
    </ul>
</mat-dialog-content>