<div class="notebook-switcher">
    <div class="notebook-switcher-selected-notebook no-select mr-1">
        {{ selectedNotebookName }}
    </div>
    <div
        class="window-button"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        matTooltip="{{ 'Tooltips.ChangeNotebook' | translate }}"
        (click)="getNotebooks()"
    >
        <i class="notebook-switcher-button las la-bars"></i>
    </div>
</div>
<mat-menu #menu="matMenu">
    <div *ngFor="let notebook of notebooks">
        <button class="menu-button" mat-menu-item>
            <span
                class="menu-item"
                (click)="this.changeNotebookAsync(notebook)"
                [ngStyle]="{ 'font-weight': notebook.id === '1' ? 'bold' : 'normal' }"
            >
                <i class="menu-icon las la-folder" [ngClass]="{ isActive: notebook.name === selectedNotebookName }"></i>
                <span>{{ notebook.name }}</span>
            </span>
        </button>
    </div>
</mat-menu>
