@import 'font-faces';
@import 'variables';

.notebook-switcher {
    height: $titlebar-height;
    display: flex;
    flex-direction: row;
}

.notebook-switcher-selected-notebook {
    height: $titlebar-height;
    display: flex;
    align-items: center;
    flex: 1;
}

.notebook-switcher-button {
    font-size: 20px !important;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 80px;
}

.menu-icon {
    font-size: 24px;
    color: var(--theme-secondary-text);
    margin: 0 8px 0 0;
    font-weight: normal;
}

.menu-icon.isActive {
    color: var(--theme-accent-color);
}
