.logo {
    display: flex;
    user-select: none;
}

.logo-image {
    width: 64px;
}

.logo-text {
    flex-grow: 1;
    margin: auto 0px auto 20px;
    font-family: roboto-thin;
    font-size: 48px;
}