@import 'variables';

.no-select {
    user-select: none;
}

.selected-item {
    background-color: var(--theme-selection-background);
}

.selected-item span {
    color: var(--theme-accent-color) !important;
}

.viewport-height {
    height: calc(100vh - var(--viewport-height-correction));
}

.main-logo {
    position: absolute;
    top: var(--main-logo-top);
    left: 16px;
    z-index: 2;
}

.list-button {
    margin-top: 8px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pointer {
    cursor: pointer;
}

.accent {
    color: var(--theme-accent-color);
}

.inactive {
    pointer-events: none;
    opacity: 0.4;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible !important;
}

.rotate-45-ccw {
    transform: rotate(-45deg);
}

.rotate-45-cw {
    transform: rotate(45deg);
}

/* See: https://stackoverflow.com/questions/54404573/mouse-hover-over-textarea-scrollbar-gives-text-cursor-instead-of-default-cursor */
textarea {
    cursor: auto;
}

.title1 {
    color: var(--theme-accent-color);
    font-size: var(--fontsize-larger) !important;
    font-weight: normal !important;
    margin: 0px 0px 8px 0px !important;
}

.title2 {
    font-size: var(--fontsize-larger) !important;
    font-weight: lighter !important;
}

.upper {
    text-transform: uppercase;
}
