@import 'variables';

.no-select {
    user-select: none;
}

.selected-item {
    color: var(--theme-accent-color);
    background-color: $color-selected;
}

.selected-icon {
    color: var(--theme-accent-color);
}

.viewport-height {
    height: calc(100vh - var(--viewport-height-correction));
}

.main-logo {
    position: absolute;
    top: var(--main-logo-top);
    left: 16px;
    z-index: 2;
}

.list-button {
    margin-top: 8px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.pointer {
    cursor: pointer;
}

.accent {
    color: var(--theme-accent-color);
}

.inactive {
    pointer-events: none;
    opacity: 0.4;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-visible {
    overflow: visible !important;
}

/* See: https://stackoverflow.com/questions/54404573/mouse-hover-over-textarea-scrollbar-gives-text-cursor-instead-of-default-cursor */
textarea {
    cursor: auto;
}

.font-bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

.font-strikethrough {
    text-decoration: line-through;
}
