@import 'variables';

.no-select {
    user-select: none;
}

.selected-item {
    color: var(--theme-accent-color);
    background-color: $color-selected;
}

.selected-icon {
    color: var(--theme-accent-color);
}

.viewport-height {
    height: calc(100vh - var(--height-correction));
}

.main-logo {
    position: absolute;
    top: 40px;
    left: 16px;
    z-index: 2;
}
