@import "variables";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none; // Removes yellow outline on elements
  -webkit-font-smoothing: subpixel-antialiased;
}

* :not(.custom-font) {
  font-family: opensans !important;
  font-size: var(--fontsize-normal);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #fff;
  color: #000;
  overflow-y: hidden;
}

h1 {
  @extend .color-primary;
  @extend .mb-1;
  font-size: var(--fontsize-larger) !important;
  font-weight: normal !important;
  margin-bottom: 8px !important;
}

h2 {
  @extend .mb-1;
  color: #748393;
  font-size: var(--fontsize-large) !important;
  font-weight: normal !important;
}

h3 {
  @extend .mb-1;
  font-size: var(--fontsize-larger) !important;
  font-weight: lighter !important;
}

h4 {
  font-size: var(--fontsize-larger) !important;
  font-weight: lighter !important;
  text-transform: uppercase;
}

a {
  @extend .color-primary;
  outline: none; // Removes yellow outline on links
}

hr {
  border-bottom: 1px solid #dedede;
}

::selection {
  @extend .background-color-primary;
  color: #fff;
}