@import 'variables.scss';
h1 {
    color: $color-primary;
    font-size: 24px !important;
}

h2 {
    color: #748393;
    font-size: 24px !important;
}

a {
    color: $color-primary;
    outline: none;
}

hr {
    border-bottom: 1px solid #DEDEDE;
}