@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: roboto;
    font-weight: 100;
    src: url(assets/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: material;
    src: url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: la-brands;
    src: url(assets/fonts/la-brands-400.ttf) format('truetype');
}

@font-face {
    font-family: la-regular;
    src: url(assets/fonts/la-regular-400.ttf) format('truetype');
}

@font-face {
    font-family: la-solid;
    src: url(assets/fonts/la-solid-900.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    src: url(assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: opensans;
    font-weight: 100;
    src: url(assets/fonts/OpenSans-Light.ttf) format('truetype');
}