@font-face {
    font-family: Segoe;
    src: url(assets/fonts/SegMDL2.ttf) format('truetype');
}

@font-face {
    font-family: Roboto-Thin;
    src: url(assets/fonts/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Material;
    src: url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

