* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, Ubuntu, "Segoe UI", sans-serif;
    background: #FFF;
    color: #000;
    overflow-y: hidden;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
}

#titlebar {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: $titlebar-height;
    width: 100%;
    background: $color-darkgrey;
    color: #FFF;
}

#titlebar #drag-region {
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
    display: grid;
    grid-template-columns: auto 184px;
}

#main {
    height: calc(100% - $titlebar-height);
    width: 100%;
    margin-top: $titlebar-height;
    padding: 0px;
    overflow-y: hidden;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(4, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: Segoe;
    font-size: 10px;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

#window-controls #close-button:hover {
    background: $color-primary;
}

#window-controls #restore-button {
    display: none;
}

#window-controls #menu-button {
    grid-column: 1;
    font-size: 16px !important;
}

#window-controls #min-button {
    grid-column: 2;
}

#window-controls #max-button,
#window-controls #restore-button {
    grid-column: 3;
}

#window-controls #close-button {
    grid-column: 4;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}