.markdown-body * {
    font-size: var(--editor-p-font-size) !important;
}

.markdown-body h1 {
    font-size: var(--editor-h1-font-size) !important;
}

.markdown-body h2 {
    font-size: var(--editor-h2-font-size) !important;
}

.markdown-body h3 {
    font-size: var(--editor-h3-font-size) !important;
}

.markdown-body h4 {
    font-size: var(--editor-h4-font-size) !important;
}

.markdown-body h5 {
    font-size: var(--editor-h5-font-size) !important;
}

.markdown-body h6 {
    font-size: var(--editor-h6-font-size) !important;
}

.markdown-body input {
    width: var(--editor-input-size) !important;
    height: var(--editor-input-size) !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin: 0.67em 0 !important;
}
