mat-tab-group {
    height: 100%;
}

.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-body-content {
    // Prevents showing of horizontal scrollbar when switching tabs (might be related to cdk virtual scroll)
    // Found on: https://github.com/angular/components/issues/6104
    &.ng-animating {
        overflow: hidden !important;
    }
}

.mat-tab-label-container {
    align-self: flex-end; // Fixes an alignment issue when opening the development tools
}

.mat-tab-label {
    min-width: 0 !important;
    opacity: 1 !important;
    user-select: none; // Prevents accidental selection of the header text
    padding: 0 12px !important;
    -webkit-app-region: no-drag;
}

.mat-tab-label-content {
    color: var(--theme-tab-text) !important;
    font-size: var(--fontsize-larger) !important;
    font-weight: lighter !important;
    text-transform: uppercase;
}

.mat-tab-label-active .mat-tab-label-content {
    color: var(--theme-selected-tab-text) !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    height: 0px;
}

.mat-tab-header {
    border-bottom: 1px solid var(--theme-pane-separators) !important;
    padding-left: 110px;
}
