.mat-fab {
    background: var(--theme-accent-color) !important;
}

.mat-mini-fab {
    background: var(--theme-secondary-button-background) !important;
}

.mat-raised-button {
    background: var(--theme-secondary-button-background) !important;
}

.mat-raised-button .mat-button-wrapper {
    color: var(--theme-secondary-button-text) !important;
}

.mat-raised-button.mat-primary {
    background: var(--theme-accent-color) !important;
}

.mat-raised-button.mat-primary .mat-button-wrapper {
    color: var(--theme-primary-button-text) !important;
}
