.mat-menu-panel {
    max-width: unset !important;
}

.mat-menu-panel .mat-menu-item {
    color: var(--theme-context-menu-primary-text) !important;
}

.mat-menu-panel .mat-menu-item span {
    color: var(--theme-context-menu-primary-text) !important;
}
