.mat-pseudo-checkbox {
  display: none !important;
}

.mat-list-text {
  padding: 0px !important;
}

.mat-list-item-content {
  padding: 0px !important;
  line-height: 40px !important;
}

.mat-list-item-content-reverse {
  padding: 0px !important;
  line-height: 40px !important;
}
