mat-tab-group {
  background-color: #fff;
  height: 100%;
}

.mat-tab-body-wrapper {
  color: #000;
  height: 100%;
}

.mat-tab-body-content {
  padding-top: 40px;
  // Prevents showing of horizontal scrollbar when switching tabs (might be related to cdk virtual scroll)
  // Found on: https://github.com/angular/components/issues/6104
  &.ng-animating {
    overflow: hidden !important;
  }
}

.mat-tab-label {
  min-width: 0 !important;
  color: #aaa !important;
  opacity: 1 !important;
  user-select: none; // Prevents accidental selection of the header text
  padding: 0 12px !important;
}

.mat-tab-label.mat-tab-label-active {
  color: #fff !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 0px;
}

.mat-tab-header {
  border-bottom-style: none !important;
  padding-left: 110px;
  background-color: $color-darkgrey;
}

.mat-tab-header-pagination-chevron {
  border-color: #fff !important;
}
