@import 'custom-theme.scss';

.tabsAndMainMenuButtonContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .tabsContainer{
    width: calc(100% - 42px);
  }
  
  .mainMenuButtonContainer{
    display: flex;
    width: 42px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: $color-darkgrey;
  }