@import '../../node_modules/@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-pink, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

// Export Angular Material theme colors, so we can access them from our custom Angular Material theme.
// See: https://medium.com/@aleixsuau/how-to-use-angular-material-2-sass-variables-in-your-components-76ce0203f126
$color-primary: mat-color($custom-theme-primary);
$color-accent: mat-color($custom-theme-accent);
$color-warn: mat-color($custom-theme-warn);

// Our own colors
$color-darkgrey: #272E36;
$color-lightgrey: #f0f0f0;
$color-lightgrey-border: #dedede;

// Font sizes
$fontsize-large: 18px;