:root {
    --fontsize-normal: 14px;
    --fontsize-status-icon: 15px;
    --fontsize-large: 20px;
    --fontsize-larger: 24px;
    --viewport-height-correction: 0px; // Set in AppearanceService
    --main-logo-top: 0px; // Set in AppearanceService
}

$titlebar-height: 32px;
