.action-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.action-button {
  margin: 8px;
  padding-top: 12px;
}

.action-icon {
  font-family: material;
  font-size: 36px;
}

.action-icon-export {
  font-family: fa-solid;
  font-size: 28px;
}
