<mat-dialog-content class="dialog-content">
    <button *ngIf="isMarked" mat-fab (click)="setNoteActionToggleMark()"
        matTooltip="{{ 'Tooltips.UnmarkNote' | translate }}">
        <span class="action-icon">&#xE87D;</span>
    </button>
    <button *ngIf="!isMarked" mat-fab (click)="setNoteActionToggleMark()"
        matTooltip="{{ 'Tooltips.MarkNote' | translate }}">
        <span class="action-icon">&#xE87E;</span>
    </button>
    <button mat-fab (click)="setNoteActionExport()"
        matTooltip="{{ 'Tooltips.ExportNote' | translate }}">
        <span class="action-icon-export">&#xF56E;</span>
    </button>
    <button mat-fab (click)="setNoteActionExportToPdf()"
        matTooltip="{{ 'Tooltips.ExportNoteToPdf' | translate }}">
        <span class="action-icon-pdf">&#xF1C1;</span>
    </button>
    <button mat-fab (click)="setNoteActionPrint()"
        matTooltip="{{ 'Tooltips.PrintNote' | translate }}">
        <span class="action-icon">&#xE555;</span>
    </button>
    <button mat-fab (click)="setNoteActionDelete()"
        matTooltip="{{ 'Tooltips.DeleteNote' | translate }}">
        <span class="action-icon">&#xE872;</span>
    </button>
</mat-dialog-content>