  .action-icon{
    color: white;
    font-family: material;
    font-size: 24px;
  }
  
  .action-icon-pdf{
    color: white;
    font-family: fa-solid;
    font-size: 22px;
  }
  
  .action-icon-export{
    color: white;
    font-family: fa-solid;
    font-size: 20px;
    margin-left: 4px;
  }