@import 'variables';

.dialog-header {
    background-color: var(--theme-header-background-color);
    border-bottom: 1px solid var(--theme-header-border-color);
    margin: -24px -24px 24px -24px !important;
    height: 64px;
    display: flex;
    align-items: center;
}

.dialog-header-title {
    color: var(--theme-header-text-color) !important;
}
