@import 'variables';

.dialog-header {
    border-bottom: 1px solid var(--theme-separator);
    margin: -24px -24px 24px -24px !important;
    height: 64px;
    display: flex;
    align-items: center;
}
