<div class="welcomeContainer">
    <div class="welcomeContentContainer">
        <div class="welcomeContentContainerForeground">
            <logo-full [textColor]="'white'"></logo-full>
            <div class="welcomeText mt-4">{{ 'LoadingPage.Text' | translate }}</div>
            <mat-spinner class="mt-4" [diameter]="40"></mat-spinner>
        </div>
        <div class="welcomeContentContainerBackground">
            <img class="welcomePenImage" src="./assets/images/pencil_256x256.svg">
        </div>
    </div>
</div>