<app-dialog-header [titleText]="data.titleText"></app-dialog-header>
<mat-dialog-content>
    <div class="d-flex flex-column">
        <mat-form-field>
            <input
                    matInput
                    [(ngModel)]="this.data.inputText"
                    placeholder="{{ data.placeholderText }}"
                    [type]="this.isHidden ? 'password' : 'text'"
                    (keyup.enter)="closeDialog()"
            />
            <mat-icon matSuffix
                      (click)="this.isHidden = !this.isHidden">{{ this.isHidden ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </mat-form-field>
        <div class="d-flex flex-column" *ngIf="this.data.requiresConfirmation">
            <mat-form-field>
                <input
                        matInput
                        [(ngModel)]="this.confirmationInputText"
                        placeholder="{{ data.confirmationPlaceholderText }}"
                        [type]="this.isHidden ? 'password' : 'text'"
                        (keyup.enter)="closeDialog()"
                />
            </mat-form-field>
            <div *ngIf="this.hasConfirmationError" class="accent">{{ this.data.confirmationErrorText }}</div>
            <div *ngIf="!this.hasConfirmationError">&nbsp;</div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [disabled]="!this.canCloseDialog"
                       [mat-dialog-close]="true">{{ 'Buttons.Ok' | translate }}
    </app-accent-button>
    <app-transparent-button [mat-dialog-close]="false">{{ 'Buttons.Cancel' | translate }}</app-transparent-button>
</mat-dialog-actions>
