<div class="title-and-back-button-container">
    <div *ngIf="!router.url.includes('/welcome') && !router.url.includes('/collection') && !router.url.includes('/note')" class="back-button" (click)="goToNotes()" matTooltip="{{ 'Tooltips.Back' | translate }}">
        <span>&#xE72B;</span>
    </div>
    <div class="title-container">
        <div *ngIf="router.url == '/collection'">{{ applicationName }}</div>
        <div *ngIf="router.url == '/settings'">{{ 'Pages.Settings' | translate }}</div>
        <div *ngIf="router.url == '/information'">{{ 'Pages.Information' | translate }}</div>
    </div>
</div>