@import "variables";
@import "theming";

.modification-date {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modification-date-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.modification-date-icon {
    color: $color-grey;
    font-size: 20px;
    font-family: la-solid;
}
