@import "css/variables.scss";

.dialog-content{
  display: flex;
  flex-direction: column;
}

.notebooks-list {
  flex: 1;
  overflow-y: auto;
  margin-left: -16px !important;
  margin-right: -24px !important;
  padding-right: 8px !important;
}

.notebook {
  font-size: $fontsize-normal !important;
  height: 40px;
  line-height: 40px; 
  cursor: pointer;
} 

.notebook:hover{
  background: $color-hover;
}