@import "theming";
@import "variables";

.logo-menu {
  position: relative;
  margin-top: 8px;
}

.logo-menu-icon {
  @extend .background-color-primary;
  position: absolute;
  top: 0;
  left: 16px;
  width: 80px;
  min-width: 80px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo-menu-icon-pen {
  width: 80px;
  height: 80px;
}

.logo-menu-background {
  background-color: white;
  position: absolute;
  top: 40px;
  left: 1px;
  width: 100%;
  height: 40px;
  z-index: 0;
}

.logo-menu-menu {
  position: absolute;
  top: 10px;
  left: 104px;
}

.logo-menu-menu-item {
  text-transform: lowercase;
  margin-left: 16px;
  color: $color-grey;
  cursor: pointer;
}

.logo-menu-menu-item-selected {
  color: black;
  font-weight: bold;
}
