<app-dialog-header [titleText]="data.titleText"></app-dialog-header>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="this.data.inputText" placeholder="{{ data.placeholderText }}" (keyup.enter)="closeDialog()" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [ngClass]="{ inactive: !this.data.inputText }" [mat-dialog-close]="true">{{
            'Buttons.Ok' | translate
        }}</app-accent-button>
    <app-transparent-button [mat-dialog-close]="false">{{ 'Buttons.Cancel' | translate }}</app-transparent-button>
</mat-dialog-actions>
