@import 'variables';
@import 'theming';

.transfer-collection-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.transfer-collection-icon {
    font-size: 24px;
    color: $color-grey-icon;
    margin: 0 8px 0 0;
}

.transfer-collection-icon.isActive {
    color: var(--theme-accent-color);
}
