<app-dialog-header titleText="{{ 'DialogTitles.RenameNotebook' | translate }}"></app-dialog-header>
<mat-dialog-content>
    <mat-form-field>
        <input matInput [(ngModel)]="notebookName" placeholder="{{ 'Input.NotebookName' | translate }}"
        (keyup.enter)="renameNotebookAndCloseAsync()">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <app-accent-button class="mr-2" [disabled]="!notebookName"
                       [mat-dialog-close]="true" (click)="renameNotebookAsync()">{{ 'Buttons.Ok' | translate }}
    </app-accent-button>
    <app-transparent-button [mat-dialog-close]="true">{{ 'Buttons.Cancel' | translate }}</app-transparent-button>
</mat-dialog-actions>