<div class="notes-content-title-and-search no-select">
    <!-- Notes title -->
    <div class="notes-content-title">
        <div class="title2 notes-content-title-text">{{ activeNotebook?.name }}</div>
        <div class="count-label">
            {{ notesCount }}
        </div>
    </div>
    <!-- Search -->
    <mat-form-field class="notes-content-search">
        <input matInput type="text" #searchInput [(ngModel)]="this.searchService.searchText" placeholder="{{ 'MainPage.Search' | translate }}"/>
        <div
            class="notes-content-search-clearbutton"
            *ngIf="this.searchService.searchText"
            matSuffix
            matTooltip="{{ 'MainPage.ClearSearch' | translate }}"
            (click)="this.searchService.searchText = ''"
        >
            <i class="las la-times"></i>
        </div>
    </mat-form-field>
</div>
