<div class="noteContent">
    <div class="noteContentFloating">
        <button mat-fab (click)="performAction()" matTooltip="{{ 'MainPage.AddNote' | translate }}" (click)="toggleNoteMark()">
            <span class="heartIcon" *ngIf="isMarked">&#xE87D;</span>
            <span class="heartIcon" *ngIf="!isMarked">&#xE87E;</span>
        </button>
    </div>
    <div class="noteContentFixed">
        <div class="noteTitleBackground">
            <input class="noteTitle" type="text" [(ngModel)]="noteTitle" (ngModelChange)="onNotetitleChange($event)" />
        </div>
        <div class="noteEditor" id="editor">
        </div>
    </div>
</div>