<div class="window-frame">
    <div class="window-frame-titlebar">
        <div class="window-frame-titlebar-dragarea">
        </div>
        <window-controls></window-controls>
    </div>
    <div class="window-frame-content">
        <div class="note-content">
            <div class="note-content-floating">
                <button mat-fab (click)="performAction()" matTooltip="{{ 'MainPage.AddNote' | translate }}"
                    (click)="toggleNoteMark()">
                    <span class="note-content-floating-hearticon" *ngIf="isMarked">&#xE87D;</span>
                    <span class="note-content-floating-hearticon" *ngIf="!isMarked">&#xE87E;</span>
                </button>
            </div>
            <div class="note-content-fixed">
                <div class="note-content-fixed-title">
                    <input class="note-content-fixed-title-text" type="text" [(ngModel)]="noteTitle"
                        (ngModelChange)="onNotetitleChange($event)" />
                </div>
                <div class="note-editor" id="editor">
                </div>
            </div>
        </div>
    </div>
</div>