@import "css/variables.scss";
@import "css/theming.scss";

.note-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.note-content-floating {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  z-index: 1;
}

.note-content-floating-button {
  margin-bottom: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.note-content-floating-button-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.note-content-floating-button-icon {
  color: white;
  font-family: material;
  font-size: 24px;
}

.note-content-floating-button-icon-action {
  color: $color-grey-icon;
  font-family: material;
  font-size: 20px;
}

.note-content-floating-button-icon-action-pdf {
  color: $color-grey-icon;
  font-family: fa-solid;
  font-size: 18px;
}

.note-content-floating-button-icon-action-export {
  color: $color-grey-icon;
  font-family: fa-solid;
  font-size: 16px;
  margin-left: 4px;
}

.note-content-fixed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.note-content-fixed-title {
  background-color: $color-darkgrey;
  width: 100%;
  height: 50px;
}

.note-content-fixed-title-text {
  background-color: transparent;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  padding: 0 8px 0 8px;
  color: white;
}

.note-editor {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.ql-toolbar.ql-snow {
  padding-right: 50px !important;
}

.ql-editor ul[data-checked="true"] li {
  text-decoration: line-through;
  opacity: 0.5;
}

.ql-editor ul[data-checked="false"] > li::before {
  font-family: fa-regular;
  content: "\f0c8";
}

.ql-editor ul[data-checked="true"] li::before {
  font-family: fa-regular;
  content: "\f14a";
}

.notebook-changer {
  display: flex;
  -webkit-app-region: no-drag;
  color: white;
  cursor: pointer;
  float: left;
}

.notebook-changer-icon {
  margin-right: 8px;
  font-family: Material;
  font-size: 18px;
}

#editor * {
  font-size: var(--editor-p-font-size);
}

#editor h1 {
  font-size: var(--editor-h1-font-size) !important;
}

#editor h2 {
  font-size: var(--editor-h2-font-size) !important;
}

[editor-font-size="14"] {
  --editor-p-font-size: 14px;
  --editor-h1-font-size: 24px;
  --editor-h2-font-size: 20px;
}

[editor-font-size="16"] {
  --editor-p-font-size: 16px;
  --editor-h1-font-size: 27px;
  --editor-h2-font-size: 23px;
}

[editor-font-size="18"] {
  --editor-p-font-size: 18px;
  --editor-h1-font-size: 31px;
  --editor-h2-font-size: 26px;
}

[editor-font-size="20"] {
  --editor-p-font-size: 20px;
  --editor-h1-font-size: 34px;
  --editor-h2-font-size: 29px;
}

[editor-font-size="22"] {
  --editor-p-font-size: 22px;
  --editor-h1-font-size: 38px;
  --editor-h2-font-size: 31px;
}

[editor-font-size="24"] {
  --editor-p-font-size: 24px;
  --editor-h1-font-size: 41px;
  --editor-h2-font-size: 34px;
}