@import "css/variables.scss";

.note-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.note-content-floating {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  z-index: 1;
}

.note-content-floating-button {
  margin-bottom: 8px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.note-content-floating-button-icon{
  color: white;
  font-family: material;
  font-size: 24px;
}

.note-content-floating-button-icon-action{
  @extend .color-primary;
  font-family: material;
  font-size: 20px;
}

.note-content-floating-button-icon-action-export{
  @extend .color-primary;
  font-family: fa-solid;
  font-size: 16px;
  margin-left: 4px;
}

.note-content-fixed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.note-content-fixed-title {
  background-color: $color-darkgrey;
  width: 100%;
  height: 50px;
}

.note-content-fixed-title-text {
  background-color: transparent;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  padding: 0 8px 0 8px;
  color: white;
}

.note-editor {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.ql-toolbar.ql-snow {
  padding-right: 50px !important;
}

.notebook-changer{
  display: flex;
  -webkit-app-region: no-drag;
  color: white;
  cursor: pointer;
  float: left;
}

.notebook-changer-icon {
  margin-right: 8px;
  font-family: Material;
  font-size: 18px;
}

