@import 'variables';

.app-main-menu {
    display: flex;
    flex-direction: row;
}

.app-main-menu__item {
    text-transform: lowercase;
    margin-left: 16px;
    color: var(--theme-secondary-text);
    cursor: pointer;
}

.app-main-menu__selected {
    color: var(--theme-primary-text);
    font-weight: bold;
}
